.contenedor{
    display: flex;
    box-sizing: border-box ;
    padding: 20px;
    height: 100vh;
}

.izquierda{
    background-color:  #0e7c74; 
    flex: 2;
    color: white;
}

.derecha{
    flex: 1;
    display: flex;
    flex-direction: column;
   
    
}

.derecha-alta{
    border: 1px solid lightgray;
    gap: 2px;
    padding: 24px;
    flex: 1 1 100%;
}

.derecha-baja{
    border: 1px solid lightgray;
    padding: 24px;
    flex: 1 1 100%;
}